body {
	background: #eeeeee;
	color: #444444;
	font-family: sans;
}
a {
	color: #1d8fd0;
}
.inline-block {
	display: inline-block;
}
.set {
	background: white;
	border-radius: 5px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
	float: left;
	margin: 10px;
	padding: 10px;
	text-align: center;
	img {
		max-height: 300px;
	}
	a {
		display: block;
		line-height: 22px;
	}
	.description {
		line-height: 22px;
		.second-line {
			font-size: 12px;
		}
		.first-line {
			font-size: 16px;
		}
	}
}
textarea {
	border-radius: 5px;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1) inset;
	color: #444444;
	display: block;
	font-family: sans;
	font-size: 20px;
	height: 100px;
	margin: 10px auto;
	padding: 5px 10px;
	width: 500px;
}
.normal {
	.part {
		background: #ffffff;
		border-radius: 4px;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
		display: inline-block;
		font-family: sans;
		font-size: 10px;
		height: 88px;
		margin: 3px 0 3px 3px;
		overflow: hidden;
		padding: 5px;
		position: relative;
		vertical-align: top;
		width: 100px;
		.buttons {
			bottom: 0;
			opacity: 0.0;
			position: absolute;
			right: 1px;
			button {
				background: #eeeeee;
				border: 1px solid #dddddd;
				color: #666666;
				float: left;
				height: 16px;
				line-height: 15px;
				margin: 1px 0px 1px 1px;
				outline: none;
				padding: 0;
				transition: background 0s;
				width: 20px;
				&:hover {
					background: #f8f8f8;
				}
				&:active {
					background: #e8e8e8;
				}
				&:last-child {
					border-bottom-right-radius: 4px;
				}
				i {
					font-size: 10px;
				}
			}
		}
		.quantity {
			background: none;
			border-bottom-left-radius: 4px;
			border: 1px solid transparent;
			bottom: 0;
			height: 14px;
			left: 0;
			margin: 1px;
			position: absolute;
			width: 43px;
		}
		&:hover {
			.buttons {
				opacity: 1.0;
			}
			.quantity {
				background: #eeeeee;
				border: 1px solid #dddddd;
			}
		}
    &.all .quantity {
      background: rgb(166, 255, 196);
			border: 1px solid #c9ddcc;
    }
    &.partial .quantity {
      background: rgb(255, 214, 166);
      border: 1px solid #ddd5c9;
    }
    &.none .quantity {

    }
		.quantity-input {
			border-radius: 2px;
			border: 1px solid transparent;
			display: inline-block;
			font-family: sans;
			font-size: 10px;
			padding: 0 0 0 2px;
			width: 15px;
			&:focus {
				border: 1px solid #aaaaaa;
				display: inline-block;
				outline: none;
			}
			&:hover {
				border: 1px solid #aaaaaa;
				display: inline-block;
				outline: none;
			}
		}
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			max-height: 60px;
			max-width: 100px;
		}
		.description {
			margin-bottom: 2px;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	.part.has-no-image {
		.description {
			height: 71px;
			white-space: normal;
		}
		img {
			display: none;
		}
	}
}
.part {
	img {
		pointer-events: none;
	}
}
.quantity-input {
	background: none;
	border: none;
	height: 14px;
	margin: 0;
	text-align: right;
}
.compact {
	.part {
		background: white;
		float: left;
		height: 100px;
		vertical-align: top;
		img {
			max-height: 100px;
			width: 100px;
		}
		span {
			background: white;
			border-radius: 3px;
			font-size: 14px;
			padding: 1px;
		}
		button {
			opacity: 0;
			position: absolute;
			&:hover {
				opacity: 255;
			}
		}
		button.minus {
			left: 7px;
			top: 53px;
			width: 46px;
		}
		button.plus {
			right: 7px;
			top: 53px;
			width: 46px;
		}
		button.max {
			left: 7px;
			top: 16px;
			width: 96px;
		}
	}
}
.header {
	.buttons {
		padding: 15px;
	}
}