<div class="menu">
  {{#link-to 'search' classNames="btn btn-bare"}}[Search]{{/link-to}}
  {{#link-to 'collection' classNames="btn btn-bare"}}[Collection]{{/link-to}}
</div>
<div id="main">
  {{outlet}}
</div>
